---
import { ROUTES as routes } from "../data/paths";
---

<nav>
    <ul>
        {
            routes.map((route) => {
                const { name, url } = Object.values(route).at(0);
                return (
                    <li>
                        <a href={url}>{name}</a>
                    </li>
                );
            })
        }
    </ul>
</nav>

<style>
    ul {
        display: flex;
        flex-direction: row;
        /* column-gap: 0.5rem; */
    }
    li {
        padding-inline: .5rem;
    }
    li:not(:last-child){
        border-right: 1px solid black;
    }
</style>
