---

---

<h1>Layout</h1>
<slot />

<style is:global>
    :root {
        font-family:
            ui-monospace,
            SFMono-Regular,
            Menlo,
            Monaco,
            Consolas,
            Liberation Mono,
            Courier New,
            monospace;
    }
</style>
